.p3 {
  color: yellow;
}

* {
  font-family: sans-serif, monospace;
  font-size: 0.8rem;
}

h1 {
  font-size: 2rem;
}

#things-to-learn {
  text-transform: uppercase;
}

.lang {
  background-color: lightgreen;
}

li[value]{
  border: 2px solid skyblue;
}

img + ul {
  list-style: none;
}

section img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

ul ~ p {
  text-align: center;
}

section > ul {
  letter-spacing: 10px;;
}
