/* Comment */
/* External styling */

/* CSS Rules
  selector {
    property: value;
  }

*/

/* Universal selector */
* {
  font-family: "Courier New", monospace;
  font-size: 20px;
}

body {
  background-color: skyblue;
}

/* Type selector */
h1 {
  color: yellow !important;
  text-align: center;
  font-size: 2rem;
}

/* id selector */
#zuitt-motto {
  letter-spacing: 5px;
}

/* Adjacent Sibling Selector */
/* selector + selector */

h3 + img {
  height: 300px;
  width: 300 px;
  border-radius: 150px;
}

/* Also works: */

#zuitt-motto + img {
  height: 300px;
  width: 300 px;
  border-radius: 150px;
}

/* Class selector */
.offering-item {
  text-transform: uppercase;
}

/* Descendant selector */
/* selector selector */
#bootcamp-learning-list li {
  color: #075966;
}

/* General Sibling Selector */
/* selector ~ selector */
h2 ~ a {
  text-decoration: none;
}

/* Child Selector */
/* selector > selector */

html {
  scroll-behavior: smooth;
}

/* Child selector */
body > section > form > label {
  /*color: rbg(0, 0, 128);*/
  color: rgb(0, 0, 128);
}

nav {
  background-color: white;
}

/* selector: hover pseudo class */
/* changes the style when hovered over */
a:hover {
  background-color: #b4d6de;
}

div {
  float: right;
}

/* landing section */
section {
  height: 100vh;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

ol {
  list-style: none;
}

/* register section */

form {
  text-align: center;
  background-color: white;
  border: 2px solid black;
  height: 180px;
  width: 25vw;
  position: relative;
  left: 37.25%;
}

button {
  background-color: #cf0053;
  color: white;
  border: 0;
  border-radius: 15px;
}

/* Attribute selector */
/* tagname[attribute] */
input[required] {
  border-width: 2px;
  border-style: solid;
  border-color: navy;
}

/* Specificity rules */
/* inline > internal > external */
